app-story-list {
    .group {
        width: 100%;
        label {
            padding-right: 10px;
            width: 25%;
        }
        input {
            width: 75%;
        }
    }
    .textarea-group {
        padding-top: 10px;
        textarea {
            width: 100%;
        }
    }
    button {
        width: 100%;
    }
}